/* Color theme: Default */

html[data-color-theme="default"][data-theme="light"] {
	/* The Master Anchor for the outer app shell cake layer */
	--app-theme: #c6e3ff;

	/* The Cohesive Gradient Matrix */
	--app-bg: linear-gradient(
		90deg, 
		var(--app-theme) 0%, 
		hsl(from var(--app-theme) h s l) 38%, 
		var(--app-theme) 100%
	);

	/* Main-frame scrollbar tracking */
	--main-scrollbar-thumb: hsl(from var(--app-theme) h calc(s * 0.8) calc(l * 0.85));

	/* Main border */
	--main-border: hsl(from var(--app-theme) h calc(s * 0.6) calc(l * 0.90));
	
	/* Utility Elements */
	--app-icon: hsl(from var(--app-theme) h calc(s * 0.4) calc(l * 0.4));
	--brand-color: hsl(from var(--app-theme) h calc(s * 0.7) calc(l * 0.5));
	--app-title: hsl(from var(--app-theme) h calc(s * 0.7) calc(l * 0.5));

	/* Profile Badge Framework */
	--profile-indicator: hsl(from var(--app-theme) h calc(s * 0.7) calc(l * 0.7));
	--profile-indicator-text: hsl(from var(--app-theme) h calc(s * 1.1) calc(l * 1.09));

	/* Nav area */
	--nav-active-bg: hsl(from var(--app-theme) h calc(s * 0.6) calc(l * 0.7));
	--nav-hover-bg: hsl(from var(--app-theme) h calc(s * 0.1) calc(l * 1.05));
	--nav-active-text: hsl(from var(--app-theme) h calc(s * 1.1) calc(l * 1.09));

	/* Select's variant="title" */
	--green-select-bg: hsl(from var(--app-theme) h calc(s * 0.6) calc(l * 0.7));
	--green-select-bg-hover: hsl(from var(--green-select-bg) h s calc(l * 0.94));
	--green-text: hsl(from var(--app-theme) h calc(s * 1.1) calc(l * 1.09));

	--green-input-filter-hover-bg: hsl(from var(--green-select-bg-hover) h s calc(l * 0.96));

	/* Theme-colored checkbox tokens */ 
	--green-bg: hsl(from var(--page-color, #f1f5f9) 220 calc(s * 0.4) calc(l * 0.96));
	--green-active-bg: hsl(from var(--page-color, #f1f5f9) 220 calc(s * 2) calc(l * 0.8));
	--green-hover: hsl(from var(--green-bg) h s calc(l * 0.94));
	--green-border-checkbox: hsl(from var(--green-bg) h calc(s * 1.2) calc(l * 0.70));
	--green-active-checkbox: hsl(from var(--green-bg) h calc(s * 1.2) calc(l * 0.1));
}


html[data-color-theme="default"][data-theme="dark"] {

	--app-theme: rgb(69, 99, 143);

	/* main bg */
	--app-bg: linear-gradient(90deg, var(--app-theme) 0%, hsl(from var(--app-theme) h s l) 38%, var(--app-theme) 100%);

	/* main-frame scrollbar */
	--main-scrollbar-thumb: hsl(from var(--app-theme) h calc(s * 0.8) calc(l * 1));

	/* main border */
	--main-border: hsl(from var(--app-theme) h calc(s * 1) calc(l * 1.6));
	
	/* stuff */
	--app-icon: hsl(from var(--app-theme) h calc(s * 0.2) calc(l * 2.2));
	--brand-color: hsl(from var(--app-theme) h calc(s * 2.05) calc(l * 2.2));
	--app-title: hsl(from var(--app-theme) h calc(s * 2.05) calc(l * 2.2));

	--profile-indicator: hsl(from var(--app-theme) h calc(s * 2) calc(l * 2));
	--profile-indicator-text: hsl(from var(--app-theme) h calc(s * 5) calc(l * 0.4));

	/* nav area */
	--nav-active-bg: hsl(from var(--app-theme) h calc(s * 2.05) calc(l * 1.95));
	--nav-hover-bg: hsl(from var(--app-theme) h calc(s * 0.1) calc(l * 0.4));
	--nav-active-text: hsl(from var(--app-theme) h calc(s * 5) calc(l * 0.4));

	/* Select's variant="title */
	--green-select-bg: hsl(from var(--app-theme) h calc(s * 2.05) calc(l * 1.95));
	--green-select-bg-hover: hsl(from var(--green-select-bg) h calc(s * 0.9) calc(l * 1.03));
	--green-text: hsl(from var(--app-theme) h calc(s * 5) calc(l * 0.4));

	--green-input-filter-hover-bg: hsl(from var(--green-select-bg-hover) h calc(s * 1) calc(l * 0.9));

	/* theme colored select (used for checkboxes in pages) */ 
	--green-bg: hsl(from var(--page-color) 220 calc(s * 1.2) calc(l * 5.4));
	--green-active-bg: hsl(from var(--page-color) 220 calc(s * 5.4) calc(l * 5.4));
	--green-hover: hsl(from var(--green-bg) h s calc(l * 0.9));
	--green-border-checkbox: hsl(from var(--green-bg) h calc(s * 0.5) calc(l * 0.5));
	--green-active-checkbox: hsl(from var(--green-bg) h s calc(l * 5.2));
}
